

/*Fonts*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/



/*Header Nav Bar*/
body{
  background-color: #F2F1E9;
  padding: 0;
  margin: 0;
}

.wrapper{
  padding: 10px;
}

header{
  background-color: white;
  height: 40px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0px;
  box-shadow: 4px 4px 3px rgba(51, 51, 51, 0.58);


}

nav{
align-self: center;
    margin: 0 auto;
}

ul{
  list-style: none;
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
}

li{
  flex-grow: 1;
      margin-right: 30px;
}

li > a{
  color: #2B2F26;
  text-transform: uppercase;
}

li a:active{
  color: #968772;
}

li a:hover{
  color: #967343
}

p > a{
  color: #968772;
}

p > a:hover{
  color: #967343;
}

.home-link a{
  color: #968772
}

#logo{
  width: 30px;
  height: 30px;
  align-self: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header text*/
h1{
  font-size: 60px;
  margin-bottom: 0px;
  font-weight: 400;
}

h2{
  font-size: 35px;
  font-weight: 200;

}

h1, h2{
  font-family: 'Merriweather', serif;
}

/*Pictures Area*/

.Endless-Possibilites{
  background-image: url(Weekly/optimized/product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 50%;
}

.Sets{
  background-image: url(Weekly/optimized/product-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 20%
}

.Textures{
  background-image: url(Weekly/optimized/product-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 20%;
}

.Tea-Time{
  background-image: url(Weekly/optimized/product-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 20%;

}

.Jars-and-Containers{
  background-image: url(Weekly/optimized/product-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 20%;

}

.Wasabi-and-Saki{
  background-image: url(Weekly/optimized/product-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 35%;

}

.Sippin-on-Sunshine{
  background-image: url(Weekly/optimized/product-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 20%;

}

/*Rows 1 and 2 for pictures*/

.picture-container-1{
  display: flex;
  width: 100%;
  justify-content: center;
}

.picture-container-2{
  display: flex;
  width: 100%;
  justify-content: center;
}

.picture-container-1 > div{
      height: 300px;
      margin: 10px;
      flex-grow: 1;
}

.picture-container-2 > div{
      height: 300px;
      margin: 10px;
      flex-grow: 1;
}

/*Text inside of pictures*/

div > p{
  background-color: #2C2F27;
  color: #F2F1E8;
  padding: 10px;
  text-align: left;
  position: absolute;
    margin-top: 17%;
}

/*Footer*/

footer{
  background-color: #2C2F27;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  align-items: center;
}

footer > p{
  font-size: 16px;
}
