/*Fonts*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/


/*Header nav bar*/

body{
  background-image: url(Weekly/optimized/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

header{
  background-color: white;
  height: 40px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 3px rgba(51, 51, 51, 0.58);

}

nav{
align-self: center;
    margin: 0 auto;
}

ul{
  list-style: none;
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
}

li{
  flex-grow: 1;
      margin-right: 30px;
}

li > a{
  color: #2B2F26;
  text-transform: uppercase;
}

li a:active{
  color: #968772;
}

li a:hover{
  color: #967343
}

p > a{
  color: #968772;
}

p > a:hover{
  color: #967343;
}

.newsletter-link a{
  color: #968772
}


#logo{
  width: 30px;
  height: 30px;
  align-self: center;
}

h1, h2{
  font-family: 'Merriweather', serif;
  font-weight: 200;
}

/*background image*/

.wrapper{
  width: 100%;
  margin-top: 200px;
  display: flex;
  height: 100%;
}

/*Form Area*/

.form{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 50%;
  padding: 30px;
}

#nameInput{
  font-size: 16px;
  border: none;
  width:100%;
  border-bottom: 2px solid #968772;
  background-color: none;
  margin: 10px 0;
}

#emailInput{
  font-size: 16px;
  border: none;
  width:100%;
  border-bottom: 2px solid #968772;
  background-color: none;
  margin: 10px 0;
}

#nameInput:focus{
  border-bottom: 2px solid #967343;
}

#emailInput:focus{
  border-bottom: 2px solid #967343;
}

/*Submit Button*/

.submit-container{
  display: flex;
  justify-content: center;
}

.submit-container > input{
  background-color: #958773;
  color: #F2F1E8;
  border: none;
  box-shadow: none;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
}
.submit-container > input:hover{
  background-color: #967343;
  color: #FFFFFF;
}


label{
  color: #78797C;
  font-family: 'Roboto', sans-serif;
}
